.contactanos{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactanos input,
.contactanos select{
    height: 40px;
    padding: 5px;
    border-radius: 5px;
}

.contactanos textarea{
    height: 100px;
    padding: 5px;
}

.contactanos button{
    height: 40px;
    background-color: black;
    color: white;
}